<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houpu.mapper.UserMapper">

    <select id="findAll" resultMap="userWithRole">
        select * from t_user
        <where>
            <if test="userName!=null and userName!=''">
                userName like concat("%",#{userName},"%")
            </if>
            <if test="roleId!=null and roleId!=''">
                and userRole like concat("%",#{roleId},"%")
            </if>
        </where>
    </select>
    <resultMap id="userWithRole" type="user">
        <association property="role" column="userRole" javaType="role" select="com.houpu.mapper.RoleMappers.findRoleById"/>
    </resultMap>


    <select id="findTotalCount" resultType="int">
        select count(id) from t_user
        <where>
            <if test="userName!=null and userName!=''">
                userName=#{userName}
            </if>
            <if test="roleId!=null and roleId!=''">
                and userRole=#{roleId}
            </if>
        </where>
    </select>
    
    
    <insert id="add">
        insert into t_user(userCode,userName,userPassword,gender,birthday,phone,address,userRole,createdBy,creationDate,modifyBy,modifyDate,photo)
        values (#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{role.id},#{createdBy},now(),#{modifyBy},now(),#{photo})
    </insert>

    <select id="findById" parameterType="int" resultMap="userWithRole">
        select * from t_user where id = #{id}
    </select>

    <update id="update">
        update  t_user
        <set>
            <if test="userCode!=null and userCode!=''">
                userCode=#{userCode},
            </if>
            <if test="userName!=null and userName!=''">
                userName=#{userName},
            </if>
            <if test="userPassword!=null and userPassword!=''">
                userPassword=#{userPassword},
            </if>
            <if test="gender!=null and gender!=''">
                gender=#{gender},
            </if>
            <if test="birthday!=null">
                birthday=#{birthday},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="role.id!=null">
                userRole=#{role.id},
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                modifyBy=#{modifyBy}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>